<div class="row">
	<div class="col-md-12">
	        <div class="panel panel-default">
	          <div class="panel-heading panel-heading-divider">Add new service</div>
		          <div class="panel-body">
			            <form name="serviceForm" ng-submit="submitServiceForm()">

			              <div class="form-group mt-1" 
			              	   ng-class="{ 'has-danger': serviceForm.name.$touched && serviceForm.name.$invalid, 'has-success': serviceForm.name.$touched && !serviceForm.name.$invalid }"
			              	>
			                <label for="name">Service name</label>
			                <input name="name" 
			                	   type="text" 
			                	   placeholder="Enter service name" 
			                	   class="form-control form-control-danger form-control-success" 
			         			   ng-model="serviceFormData.name"
			                	   required
			                >
			              </div>

			              <div class="form-group" 
			              	   ng-class="{ 'has-danger': serviceForm.code.$touched && serviceForm.code.$invalid, 'has-success': serviceForm.code.$touched && !serviceForm.code.$invalid }"
			             	>
			                <label>Code</label>
			                <input type="text" 
			                	   name="code" 
			                	   placeholder="Enter service code" 
			                	   class="form-control form-control-danger form-control-success" 
			         			   ng-model="serviceFormData.code"
			                	   required
			                >
			              </div>

				          <div class="form-group" 
				          	   ng-class="{ 'has-danger': serviceForm.is_active.$touched && serviceForm.is_active.$invalid, 'has-success': !serviceForm.is_active.$invalid && serviceForm.is_active.$touched }"
				            >
				            <label>Active Status</label>
				            <select name="is_active" class="form-control form-control-danger form-control-success" ng-model="serviceFormData.is_active" required>
		        				<option value="1">Active</option>
		        				<option value="0">Inactive</option>               	
				            </select>
				          </div>


			              <div class="row pt-5">
			                <div class="col-6 offset-md-6">
			                  <p class="text-right">
			                    <button type="submit" class="btn btn-space btn-primary loading" ng-disabled="serviceForm.$invalid">Submit</button>
			                  </p>
			                </div>
			              </div>
			            </form>
		          </div>
	       	</div>
	</div>
</div>
