<div class="row">
	<div class="col-md-12">


	    <div class="panel panel-white">

				<table class="table table-bordered">
		            <thead>
		            	<tr>
		            		<th colspan="3">
							    <form class="form-inline">
							        <div class="form-group">
							            <label >Search: &nbsp; &nbsp;</label>
							            <input type="text" ng-model="search" class="form-control" placeholder="Search">
							        </div>
							    </form>
		            		</th>
		            	</tr>
		                <tr>
		                    <th class="text-center">
		                    	<a><b>Name</b></a>
		                    </th>
		                    <th class="text-center">
		                    	<a><b>Current Status</b></a>
		                    </th>
		                    <th class="text-center">
		                    	<a><b>Action</b></a>
		                    </th>
		                </tr>
		            </thead>
		            <tbody>

		                <tr ng-repeat="(key, service) in services | filter:search">
		                    <td class="text-center">{{service.name}} / {{service.code}}</th>
		                    <td class="text-center">
		                        <div ng-if="isActive(service.is_active)">
		                            <span class="text-success">ACTIVE</span>
		                        </div>
		                        <div ng-if="!isActive(service.is_active)">
		                            <span class="text-danger">INACTIVE</span> 
		                        </div>
		                    </td>
		                    <td class="text-center">
		                    	<button class="btn btn-info" ng-click="redirectToEdit(service)"><i class="fa fa-pencil"></i></button>
		                    	<button class="btn btn-danger" ng-click="deleteService(service, key)">
		                    		<i class="fa fa-trash-o"></i>
		                    	</button>
		                    </td>
		                </tr>

		                <tr ng-if="!services.length && !showLoading">
		                	<td colspan="3" class="text-center">You have no service yet </td>
		                </tr>

		            </tbody>
	        	</table>

	    </div>

		<nav aria-label="..." class="pull-right" ng-if="services.length && !showLoading">
		  <ul class="pagination">

		    <li class="page-item" ng-class="{disabled: currentPage == 1}">
		      <a class="page-link" href="javascript:;" tabindex="-1" ng-click="prevPage()">Previous</a>
		    </li>
		    <li class="page-item" ng-repeat="n in range"
		    					  ng-class="{active: n == currentPage}"
		    	>
		    	<a class="page-link" href="javascript:;" ng-click="getPosts(n)">{{n}}</a>
		    </li>
		    <li class="page-item" ng-class="{disabled: to === total}">
		      <a class="page-link" href="javascript:;" ng-click="nextPage()">Next</a>
		    </li>
		  </ul>
		</nav>

	</div>
</div>

<my-loading-spinner></my-loading-spinner>