<div class="mai-splash-screen">
    <div class="mai-wrapper mai-login">
      <div class="main-content container">
        <div class="splash-container row">
          <div class="col-sm-6 user-message"><span class="splash-message text-right">Hello!<br> is good to<br> see you again</span><span class="alternative-message text-right">Don't have an account? <a href="#">Sign Up</a></span></div>
          <div class="col-sm-6 form-message"><img src="assets/img/logo-2x.png" alt="logo" width="169" height="28" class="logo-img mb-4"><span class="splash-description text-center mt-5 mb-5">Login to your account</span>
            
            <form name="loginForm" ng-submit="submitLoginForm()">
              <div class="form-group" ng-class="{ 'has-error': loginForm.email.$touched && loginForm.email.$invalid }">
                <div class="input-group"><span class="input-group-addon"><i class="icon s7-user"></i></span>
                  <input id="email" 
                         type="email" 
                         name="email" 
                         placeholder="Email" 
                         autocomplete="off" 
                         class="form-control"
                         ng-model="loginFormData.email"
                         required="required" 
                  >
                </div>
              </div>
              <div class="form-group" ng-class="{ 'has-error': loginForm.password.$touched && loginForm.password.$invalid }">
                <div class="input-group"><span class="input-group-addon"><i class="icon s7-lock"></i></span>
                  <input id="password" 
                         type="password" 
                         name="password" 
                         placeholder="Password" 
                         class="form-control"
                         ng-model="loginFormData.password"
                         required="required" 
                  >
                </div>
              </div>

              <div class="form-group login-submit">
                <!-- <button data-dismiss="modal" type="submit" class="btn btn-lg btn-primary btn-block" >Login</button> -->
                <button class="btn btn-success btn-block" ng-disabled="loginForm.$invalid">
                  <span ng-if="!loading">Login</span>
                  <span ng-if="loading">loading...</span>
                </button>

              </div>
              <div class="form-group row login-tools">
                <div class="col-6 login-remember">
                  <label class="custom-control custom-checkbox mt-2">
                    <input type="checkbox" class="custom-control-input"><span class="custom-control-indicator"></span><span class="custom-control-description">Remember me</span>
                  </label>
                </div>
                <div class="col-6 pt-2 text-right login-forgot-password"><a href="#">Forgot Password?</a></div>
              </div>
            </form>

            <div class="out-links"><a href="#">© 2017 Health Management Organization</a></div>
          </div>
        </div>
      </div>
    </div>

</div>