<div class="row">
	<div class="col-md-12">
	    <div class="panel panel-white">
				<table class="table table-bordered">
	            <thead>
	                <tr>
	                    <th class="text-center"><a>Logo</a></th>
	                    <th class="text-center"><a>Name</a></th>
	                    <th class="text-center"><a>Owner Name</a></th>
	                    <th class="text-center"><a>Owner Phone Number</a></th>
	                    <th class="text-center"><a>Address</a></th>
	                    <th class="text-center"><a>Current Status</a></th>
	                    <th class="text-center"><a>More Details</a></th>
	                </tr>
	            </thead>
	            <tbody>

	                <tr ng-repeat="(key, company) in companies">
	                    <td class="text-center"><img src="{{company.logo}}" width="70px" height="70px" style="border-radius: 50px;"></td>
	                    <td class="text-center">{{company.name}} / {{company.code}}</td>
	                    <td class="text-center">
	                    	{{company.owner.first_name}} 
	                    	{{company.owner.middle_name}} 
	                    	{{company.owner.last_name}}
	                    </td>
	                    <td class="text-center">{{company.owner.primary_phone_number}}</td>
	                    <td class="text-center">{{company.address}} {{company.state.name}}</td>
	                    <td class="text-center">
	                        <div ng-if="isActive(company.is_active)">
	                            <span class="text-success" 
	                            	  editable-select="company.is_active" 
	                            	  e-ng-options="status.value as status.text for status in statuses" 
	                            	  ng-click="statusClick(company)"  
	                            	  onbeforesave="updateStatus(key, $data)"
	                            	  e-required>ACTIVE
	                            </span>
	                        </div>
	                        <div ng-if="!isActive(company.is_active)">
	                            <span class="text-danger" 
	                            	  editable-select="company.is_active" 
	                            	  e-ng-options="status.value as status.text for status in statuses" 
	                            	  ng-click="statusClick(company)" 
	                            	  onbeforesave="updateStatus(key, $data)"
	                            	  e-required>INACTIVE
	                            </span> 
	                        </div>
	                    </td>
	                </tr>

	                <tr ng-if="!companies.length && !showLoading">
	                	<td colspan="7" class="text-center">There,s no company in the system yet</td>
	                </tr>

	            </tbody>
	        </table>
	    </div>
	</div>
</div>

<my-loading-spinner></my-loading-spinner>