<div class="row">
	<div class="col-md-12">
	    <div class="panel panel-white">
				<table class="table table-bordered">
	            <thead>
	                <tr>
	                    <th class="text-center"><a>Logo</a></th>
	                    <th class="text-center"><a>Name</a></th>
	                    <th class="text-center"><a>Owner Name</a></th>
	                    <th class="text-center"><a>Owner Phone Number</a></th>
	                    <th class="text-center"><a>Address</a></th>
	                    <th class="text-center"><a>Current Status</a></th>
	                </tr>
	            </thead>
	            <tbody>

	                <tr ng-repeat="(key, hmoProvider) in hmoProviders">
	                    <td class="text-center"><img src="{{hmoProvider.provider.logo}}" width="70px" height="70px" style="border-radius: 50px;"></td>
	                    <td class="text-center">{{hmoProvider.provider.name}} / {{hmoProvider.provider.code}}</td>
	                    <td class="text-center">
	                    	{{hmoProvider.provider.owner.first_name}} 
	                    	{{hmoProvider.provider.owner.middle_name}} 
	                    	{{hmoProvider.provider.owner.last_name}}
	                    </td>
	                    <td class="text-center">{{hmoProvider.provider.owner.primary_phone_number}}</td>
	                    <td class="text-center">{{hmoProvider.provider.address}} {{hmoProvider.provider.state.name}}</td>
	                    <td class="text-center">

	                        <div ng-if="isActive(hmoProvider.is_active)">
	                            <span class="text-success" 
	                            	  editable-select="hmoProvider.is_active" 
	                            	  e-ng-options="status.value as status.text for status in statuses" 
	                            	  ng-click="statusClick(hmoProvider)"  
	                            	  onbeforesave="updateStatus(key, $data)"
	                            	  e-required>ACTIVE
	                            </span>
	                        </div>
	                        <div ng-if="!isActive(hmoProvider.is_active)">
	                            <span class="text-danger" 
	                            	  editable-select="hmoProvider.is_active" 
	                            	  e-ng-options="status.value as status.text for status in statuses" 
	                            	  ng-click="statusClick(hmoProvider)" 
	                            	  onbeforesave="updateStatus(key, $data)"
	                            	  e-required>INACTIVE
	                            </span> 
	                        </div>

	                    </td>
	                </tr>

	                <tr ng-if="!hmoProviders.length && !showLoading">
	                	<td colspan="7" class="text-center">You have no provider yet </td>
	                </tr>

	            </tbody>
	        </table>
	    </div>
	</div>
</div>

<my-loading-spinner></my-loading-spinner>