<div class="row">
	<div class="col-md-12">
	    <div class="panel panel-white">
				<table class="table table-bordered">
	            <thead>
	                <tr>
	                    <th class="text-center"><a>Logo</a></th>
	                    <th class="text-center"><a>Name</a></th>
	                    <th class="text-center"><a>Owner Name</a></th>
	                    <th class="text-center"><a>Owner Phone Number</a></th>
	                    <th class="text-center"><a>Address</a></th>
	                    <th class="text-center"><a>Current Status</a></th>
	                    <th class="text-center"><a>View PolicySets</a></th>
	                </tr>
	            </thead>
	            <tbody>

	                <tr ng-repeat="(key, companyHmo) in companyHmos">
	                    <td class="text-center"><img src="{{ companyHmo.company.logo }}" width="70px" height="70px" style="border-radius: 50px;"></td>
	                    <td class="text-center">{{companyHmo.company.name}} / {{companyHmo.company.code}}</td>
	                    <td class="text-center">
	                    	{{companyHmo.company.owner.first_name}} 
	                    	{{companyHmo.company.owner.middle_name}} 
	                    	{{companyHmo.company.owner.last_name}}
	                    </td>
	                    <td class="text-center">{{companyHmo.company.owner.primary_phone_number}}</td>
	                    <td class="text-center">{{companyHmo.company.organization_address}} {{companyHmo.company.state.name}}</td>
	                    <td class="text-center">

	                        <div ng-if="isActive(companyHmo.is_active)">
	                            <span class="text-success" 
	                            	  editable-select="companyHmo.is_active" 
	                            	  e-ng-options="status.value as status.text for status in statuses" 
	                            	  ng-click="statusClick(companyHmo)"  
	                            	  onbeforesave="updateStatus(key, $data)"
	                            	  e-required>ACTIVE
	                            </span>
	                        </div>
	                        <div ng-if="!isActive(companyHmo.is_active)">
	                            <span class="text-danger" 
	                            	  editable-select="companyHmo.is_active" 
	                            	  e-ng-options="status.value as status.text for status in statuses" 
	                            	  ng-click="statusClick(companyHmo)" 
	                            	  onbeforesave="updateStatus(key, $data)"
	                            	  e-required>INACTIVE
	                            </span> 
	                        </div>
	                        
	                    </td>
	                    <td class="text-center">
	                    	<button class="btn btn-info" ng-click="viewPolicySet(companyHmo)">
	                    		<i class="fa fa-folder-open" aria-hidden="true"></i>
	                    	</button>
	                    </td>
	                </tr>

	                <tr ng-if="!companyHmos.length && !showLoading">
	                	<td colspan="7" class="text-center">You have no Company Yet </td>
	                </tr>

	            </tbody>
	        </table>
	    </div>
	</div>
</div>

<my-loading-spinner></my-loading-spinner>