<div class="panel panel-default mt-3">
<div class="panel-heading panel-heading-divider">Organization Details</div>
  <div class="panel-body">

          <div class="form-group" 
               ng-class="{ 'has-danger': organizationForm.organization_type_id.$touched && organizationForm.organization_type_id.$invalid, 'has-success': !organizationForm.organization_type_id.$invalid }"
          >
            <label>Organization Type</label>
            <select name="organization_type_id" class="form-control form-control-danger form-control-success" ng-model="organizationFormData.organization_type_id" required>
                <option value="{{organization.id}}" ng-repeat="(key, organization) in organizations">{{organization.name}}</option>
            </select>
          </div>

          <!-- There should be organization active status only for admin -->
          <div class="form-group" 
          	   ng-class="{ 'has-danger': organizationForm.is_active.$touched && organizationForm.is_active.$invalid, 'has-success': !organizationForm.is_active.$invalid && organizationForm.is_active.$touched }"
               ng-if="hasPermission()"
            >
            <label>is_active</label>
            <select name="is_active" class="form-control form-control-danger form-control-success" ng-model="organizationFormData.is_active" required>
        				<option value="1">Active</option>
        				<option value="0">Inactive</option>               	
            </select>
          </div>

          <div class="form-group" 
               ng-class="{ 'has-danger': organizationForm.state_id.$touched && organizationForm.state_id.$invalid, 'has-success': !organizationForm.state_id.$invalid && organizationForm.state_id.$touched }"
            >
            <label>State Organization Is Located</label>
            <select name="organization_profile_state_id" class="form-control form-control-danger form-control-success" ng-model="organizationFormData.organization_profile_state_id" required>
                <option value="{{ state.id }}" ng-repeat="(key, state) in states">{{state.name}}</option>
            </select>
          </div>

          <div class="form-group" 
               ng-class="{ 'has-danger': organizationForm.organization_address.$touched && organizationForm.organization_address.$invalid, 'has-success': !organizationForm.organization_address.$invalid && organizationForm.organization_address.$touched }"
            >
            <label>Organization address</label>
            <input type="text" 
                 name="organization_address" 
                 placeholder="Enter Organization organization_address" 
                 class="form-control form-control-danger form-control-success" 
                 ng-model="organizationFormData.organization_address"
                 required
            >
          </div>

          <div class="form-group" 
          	   ng-class="{ 'has-danger': organizationForm.logo.$touched && organizationForm.logo.$invalid, 'has-success': !organizationForm.logo.$invalid && organizationForm.logo.$touched}"
            >
            <label>logo</label>
            <input type="file"
                   class="form-control"
                   id="avatar"
                   on-file-change="onLogoSelected"
            >
          </div>

    </div>
  </div>
</div>