<div class="panel panel-default mt-3">
<div class="panel-heading panel-heading-divider">Organization Details</div>
  <div class="panel-body">

          <div class="form-group mt-1" 
          	   ng-class="{ 'has-danger': organizationForm.name.$touched && organizationForm.name.$invalid, 'has-success': !organizationForm.name.$invalid }"
            >
            <label for="name">Organization name</label>
            <input name="name" 
            	   type="text" 
            	   placeholder="Enter organization name" 
            	   class="form-control form-control-danger form-control-success" 
     			       ng-model="organizationFormData.name"
                 uib-typeahead="organizationProfile as organizationProfile.name for organizationProfile in organizationProfiles | filter:$viewValue | limitTo:5" 
                 typeahead-on-select="onOrganizationProfileSelected($item, $model, $label)"
                 required
            >
          </div>

          <div class="form-group" 
          	   ng-class="{ 'has-danger': organizationForm.code.$touched && organizationForm.code.$invalid, 'has-success': !organizationForm.code.$invalid && organizationForm.code.$touched }"
            >
            <label>Code</label>
            <input type="text" 
            	   name="code" 
            	   placeholder="Enter organization code" 
            	   class="form-control form-control-danger form-control-success" 
     			       ng-model="organizationFormData.code"
                 organization-profile-uniqueness-for-code
                 ng-model-options="{ updateOn: 'blur' }"
            	   required
            >
            <span ng-show="!organizationForm.code.$invalid && organizationForm.code.$touched" class="text-success">
            	This will be the default password the organization owner will use to login
            </span>
            <span ng-show="organizationForm.code.$invalid && organizationForm.code.$touched" class="text-error">
              The code already exists for another organization
            </span>
          </div>

          <div class="form-group mt-1"
          	   ng-class="{ 'has-danger': organizationForm.bank_name.$touched && organizationForm.bank_name.$invalid, 'has-success': !organizationForm.bank_name.$invalid }"
          >
            <label for="name">Organization bank name</label>
            <input name="bank_name" 
            	   type="text" 
            	   placeholder="Enter organization bank name" 
            	   class="form-control form-control-danger form-control-success" 
     			       ng-model="organizationFormData.bank_name"
            	   required
            >
          </div>
          <div class="form-group mt-1" 
          	   ng-class="{ 'has-danger': organizationForm.account_name.$touched && organizationForm.account_name.$invalid, 'has-success': !organizationForm.account_name.$invalid }"
          >
            <label for="name">Organization account name</label>
            <input name="account_name" 
            	   type="text" 
            	   placeholder="Enter organization account name" 
            	   class="form-control form-control-danger form-control-success" 
     			       ng-model="organizationFormData.account_name"
            	   required
            >
          </div>
          <div class="form-group mt-1" 
          	   ng-class="{ 'has-danger': organizationForm.account_number.$touched && organizationForm.account_number.$invalid, 'has-success': !organizationForm.account_number.$invalid }"
          >
            <label for="name">Organization account number</label>
            <input name="account_number" 
            	   type="number" 
            	   placeholder="Enter organization account number" 
            	   class="form-control form-control-danger form-control-success" 
     			       ng-model="organizationFormData.account_number"
            	   required
            >
          </div>

  </div>
</div>