<div class="panel panel-default mt-3">
  <div class="panel-heading panel-heading-divider">Owner Details</div>
    <div class="panel-body">
          <div class="form-group mt-1" 
          	   ng-class="{ 'has-danger': organizationForm.email.$touched && organizationForm.email.$invalid }"
          >
            <label for="name">Owner email</label>
            <input name="email" 
            	   type="email"
            	   placeholder="Enter organization owner email" 
            	   class="form-control form-control-danger form-control-success" 
     			       ng-model="organizationFormData.email"
            >
          </div>
          <div class="form-group" 
          	   ng-class="{ 'has-danger': organizationForm.first_name.$touched && organizationForm.first_name.$invalid, 'has-success': !organizationForm.first_name.$invalid }"
          >
            <label>first_name</label>
            <input type="text" 
            	   name="first_name" 
            	   placeholder="Enter organization owner first_name" 
            	   class="form-control form-control-danger form-control-success" 
     			       ng-model="organizationFormData.first_name"
            	   required
            >
          </div>
          <div class="form-group mt-1" 
          	   ng-class="{ 'has-danger': organizationForm.middle_name.$touched && organizationForm.middle_name.$invalid, 'has-success': !organizationForm.middle_name.$invalid }"
          >
            <label for="name">middle name</label>
            <input name="middle_name" 
            	   type="text" 
            	   placeholder="Enter organization bank name" 
            	   class="form-control form-control-danger form-control-success" 
     			       ng-model="organizationFormData.middle_name"
            	   required
            >
          </div>
          <div class="form-group mt-1" 
          	   ng-class="{ 'has-danger': organizationForm.last_name.$touched && organizationForm.last_name.$invalid, 'has-success': !organizationForm.last_name.$invalid }"
          >
            <label for="name">last name</label>
            <input name="last_name" 
            	   type="text" 
            	   placeholder="Enter organization owner last name" 
            	   class="form-control form-control-danger form-control-success" 
     			       ng-model="organizationFormData.last_name"
            	   required
            >
          </div>
          <div class="form-group" 
               ng-class="{ 'has-danger': policysetForm.date_of_birth.$touched && policysetForm.date_of_birth.$invalid, 'has-success': !policysetForm.date_of_birth.$invalid }"
          >
            <label>Date Of Birth</label>
            <input type="date" 
                 name="date_of_birth" 
                 class="form-control form-control-danger form-control-success" 
                 ng-model="organizationFormData.date_of_birth"
                 required
            >
          </div>
    </div>
  </div>
</div>