<div class="panel panel-default mt-3">
<div class="panel-heading panel-heading-divider">Owner Details</div>
  <div class="panel-body">

          <div class="form-group" 
               ng-class="{ 'has-danger': organizationForm.gender.$touched && organizationForm.gender.$invalid, 'has-success': !organizationForm.gender.$invalid }"
            >
            <label>Gender</label>
            <select name="gender" class="form-control form-control-danger form-control-success" ng-model="organizationFormData.gender" required>
              <option value="MALE">Male</option>
              <option value="FEMALE">Female</option>                 
            </select>
          </div>

          <div class="form-group" 
          	   ng-class="{ 'has-danger': organizationForm.primary_phone_number.$touched && organizationForm.primary_phone_number.$invalid, 'has-success':!organizationForm.primary_phone_number.$invalid && organizationForm.primary_phone_number.$touched }"
            >
            <label>Primary phonenumber</label>
            <input type="number" 
            	   name="primary_phone_number" 
            	   placeholder="Enter organization owner primary_phone_number" 
            	   class="form-control form-control-danger form-control-success" 
     			       ng-model="organizationFormData.primary_phone_number"
                 unique-user-phonenumber
                 ng-model-options="{ updateOn: 'blur' }"
            	   required
            >
          </div>

          <div class="form-group" 
               ng-class="{ 'has-danger': organizationForm.state_id.$touched && organizationForm.state_id.$invalid, 'has-success': !organizationForm.state_id.$invalid }"
            >
            <label>Owner State</label>
            <select name="state_id" class="form-control form-control-danger form-control-success" ng-model="organizationFormData.state_id" required>
                <option value="{{state.id}}" ng-repeat="(key, state) in states">{{state.name}}</option>
            </select>
          </div>

          <div class="form-group" 
               ng-class="{ 'has-danger': organizationForm.address.$touched && organizationForm.address.$invalid, 'has-success': !organizationForm.address.$invalid }"
            >
            <label>Address</label>
            <input type="text" 
                 name="address" 
                 placeholder="Enter beneficiary address" 
                 class="form-control form-control-danger form-control-success" 
                 ng-model="organizationFormData.address"
                 required
            >
          </div>

          <div class="form-group" 
               ng-class="{ 'has-danger': organizationForm.picture.$touched && organizationForm.picture.$invalid, 'has-success': !organizationForm.picture.$invalid }"
            >
            <label>Picture</label>
            <input type="file"
                   class="form-control"
                   id="avatar"
                   on-file-change="onOwnerPictureSelected" 
            >
          </div>


  </div>
</div>