<div class="main-content container">

  <div class="row">
    <div class="col-md-3">

      <div class="pricing-table">
        <div class="pricing-table-title">{{current_organization_profile.name}}</div>
        <div class="pricing-table-price">
          <span class="">{{role.name}}</span>
        </div>
      </div>

      <div class="user-stats">
        <div class="user-stats-id">
          <div class="user-stats-avatar"><img src="assets/img/avatars/img3.jpg" alt="avatar"><span class="user-stats-status-indicator online"></span></div>
          <div class="user-stats-info"><span class="user-stats-name">Abel Adams</span><span class="user-stats-position">Sales</span></div>
        </div>
        <div class="user-stats-indicators">
          <div class="user-stats-indicator"><span class="user-stats-indicator-title">Premium Purchases</span><span data-toggle="counter" data-end="173" class="user-stats-indicator-counter">0</span></div>
          <div class="user-stats-indicator"><span class="user-stats-indicator-title">Standard Plans </span><span data-toggle="counter" data-end="367" class="user-stats-indicator-counter">0</span></div>
          <div class="user-stats-indicator"><span class="user-stats-indicator-title">Services</span><span data-toggle="counter" data-end="724" class="user-stats-indicator-counter">0</span></div>
          <div class="user-stats-indicator"><span class="user-stats-indicator-title">Total Sales</span><span data-toggle="counter" data-end="1264" class="user-stats-indicator-counter">0</span></div>
        </div>
      </div>


    </div>    
    <div class="col-md-9">
      <div ui-view></div>
    </div>    
  </div>
  
</div>

