<nav class="navbar navbar-full navbar-inverse navbar-fixed-top mai-top-header">
  <div class="container"><a href="javascript:;" class="navbar-brand"></a>
    
    <!--Left Menu-->
    <ul class="nav navbar-nav mai-top-nav">
      <li class="nav-item"><a ui-sref="secured.dashboard" class="nav-link">Dashboard</a></li>
      <li class="nav-item"><a href="javascript:;" class="nav-link">About</a></li>
    </ul>

    <!--Icons Menu-->
    <ul class="navbar-nav float-lg-right mai-icons-nav">

      <li class="dropdown nav-item mai-notifications"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><span class="icon s7-bell"></span><span class="indicator"></span></a>
        <ul class="dropdown-menu">
          <li>
            <div class="title">Notifications</div>
            <div class="mai-scroller">
              <div class="content">
                <ul>
                  <li><a href="javascript:;">
                      <div class="icon"><span class="s7-check"></span></div>
                      <div class="content"><span class="desc">This is a new message for my dear friend <strong>Rob</strong>.</span><span class="date">10 minutes ago</span></div></a></li>
                  <li><a href="javascript:;">
                      <div class="icon"><span class="s7-add-user"></span></div>
                      <div class="content"><span class="desc">You have a new fiend request pending from <strong>John Doe</strong>.</span><span class="date">2 days ago</span></div></a></li>
                  <li><a href="javascript:;">
                      <div class="icon"><span class="s7-graph1"></span></div>
                      <div class="content"><span class="desc">Your site visits have increased <strong>15.5%</strong> more since the last week.</span><span class="date">2 hours ago</span></div></a></li>
                  <li><a href="javascript:;">
                      <div class="icon"><span class="s7-check"></span></div>
                      <div class="content"><span class="desc">This is a new message for my dear friend <strong>Rob</strong>.</span><span class="date">10 minutes ago</span></div></a></li>
                </ul>
              </div>
            </div>
            <div class="footer"> <a href="javascript:;">View all notifications</a></div>
          </li>
        </ul>
      </li>

    </ul>
    <!--User Menu-->
    <ul class="nav navbar-nav float-lg-right mai-user-nav">
      <li class="dropdown nav-item">
      <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle nav-link"> 
        <img src="{{ user.primary_profile_picture }}"><span class="user-name">{{ user.first_name }} {{ user.last_name }}</span><span class="angle-down s7-angle-down"></span>
      </a>
      <div role="menu" class="dropdown-menu">
        <a href="#" class="dropdown-item"> <span class="icon s7-home"> </span>My Account</a>
        <a href="javascript:;" class="dropdown-item" ng-click="doLogout()"><span class="icon s7-power"> </span>Log Out</a></div>
      </li>
    </ul>
  </div>
</nav>

<div class="mai-wrapper" ng-if="canDisplayRole()">
  
  <nav class="navbar mai-sub-header">
    <div class="container">
      <!-- Mega Menu structure-->
      <nav class="navbar navbar-toggleable-sm">
        <button type="button" data-toggle="collapse" data-target="#mai-navbar-collapse" aria-controls="#mai-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler hidden-md-up collapsed">
          <div class="icon-bar"><span></span><span></span><span></span></div>
        </button>

        <div id="mai-navbar-collapse" class="navbar-collapse collapse mai-nav-tabs">
          <ul class="nav navbar-nav">

              <li class="nav-item parent open"><a href="javascript:;" role="button" aria-expanded="false" class="nav-link"><span class="icon s7-portfolio"></span><span>Permissions</span></a>
                <ul class="mai-nav-tabs-sub mai-sub-nav nav">

                    
                    <li class="nav-item dropdown parent" ng-repeat="(key, permission_role) in permission_roles">
                      <a href="javascript:;" data-toggle="dropdown" class="nav-link" ng-if="permission_role.permission.show_on_navbar"><span class="{{ permission_role.permission.icon }}"></span><span class="name">{{ permission_role.permission.name }}</span></a>
                      <div role="menu" class="dropdown-menu mai-sub-nav">
                        <a ui-sref="{{permission_child.url}}" class="dropdown-item" ng-repeat="(key, permission_child) in permission_role.permission.permission_children">{{permission_child.name}}</a>
                      </div>
                    </li>

                </ul>
              </li>
              <!-- <li class="nav-item parent"><a href="javascript:;" role="button" aria-expanded="false" class="nav-link"><span class="icon s7-tools"></span><span>Profile</span></a></li> -->
          </ul>
        </div>

      </nav>
      <!--Search input-->
      <div class="search">
        <input type="text" placeholder="Search..." name="q"><span class="s7-search"></span>
      </div>
      
    </div>
  </nav>

</div>

<div ui-view></div>