<div class="row">
	<div class="col-md-12">
	    <div class="panel panel-white">
				<table class="table table-bordered">
	            <thead>
	                <tr>
	                    <th class="text-center"><a>Picture</a></th>
	                    <th class="text-center"><a>Name</a></th>
	                    <th class="text-center"><a>Email</a></th>
	                    <th class="text-center"><a>Phone number</a></th>
	                    <th class="text-center"><a>Gender</a></th>
	                    <th class="text-center"><a>Date Of Birth</a></th>
	                    <th class="text-center"><a>Status</a></th>
	                    <th class="text-center"><a>Action</a></th>
	                </tr>
	            </thead>
	            <tbody>

	                <tr ng-repeat="(key, beneficiaryCompanyDependent) in beneficiaryCompanyDependents">
	                    <td class="text-center"><img src="{{beneficiaryCompanyDependent.dependent.primary_profile_picture}}" width="70px" height="70px" style="border-radius: 50px;"></th>
	                    <td class="text-center">{{ beneficiaryCompanyDependent.dependent.first_name }} {{ beneficiaryCompanyDependent.dependent.middle_name }} {{ beneficiaryCompanyDependent.dependent.last_name }}</th>
	                    <td class="text-center">{{beneficiaryCompanyDependent.dependent.email}}</th>
	                    <td class="text-center">{{beneficiaryCompanyDependent.dependent.primary_phone_number}}</th>
	                    <td class="text-center">{{beneficiaryCompanyDependent.dependent.gender}}</th>
	                    <td class="text-center">{{beneficiaryCompanyDependent.dependent.date_of_birth}}</th>
	                    <td class="text-center">
	                        <div ng-if="isActive(beneficiaryCompanyDependent.is_active)">
	                            <span class="text-success">ACTIVE</span>
	                        </div>
	                        <div ng-if="!isActive(beneficiaryCompanyDependent.is_active)">
	                            <span class="text-danger">INACTIVE</span> 
	                        </div>
	                    </td>
	                    <td class="text-center"><button class="btn btn-warning"><i class="fa fa-ban"></i></button></th>
	                </tr>

	                <tr ng-if="!beneficiaryCompanyDependents.length && !showLoading">
	                	<td colspan="10" class="text-center">You have no dependent yet </td>
	                </tr>

	            </tbody>
	        </table>
	    </div>
	</div>
</div>

<my-loading-spinner></my-loading-spinner>
