<div class="panel panel-default mt-3">
  <div class="panel-heading panel-heading-divider">Dependent Details</div>
    <div class="panel-body">

          <div class="form-group" 
               ng-class="{ 'has-danger': dependentForm.gender.$touched && dependentForm.gender.$invalid, 'has-success': !dependentForm.gender.$invalid && dependentForm.gender.$touched }"
            >
            <label>State</label>
            <select name="state_id" class="form-control form-control-danger form-control-success" ng-model="dependentFormData.state_id" required>
                <option value="{{ state.id }}" ng-repeat="state in states">{{ state.name }}</option>
            </select>
          </div>

          <div class="form-group" 
               ng-class="{ 'has-success': !dependentForm.address.$invalid && dependentForm.job_name.$touched }"
            >
            <label>Address</label>
            <input type="text" 
                 name="address" 
                 placeholder="Enter beneficiary address" 
                 class="form-control form-control-danger form-control-success" 
                 ng-model="dependentFormData.address"
            >
          </div>

          <div class="form-group" 
               ng-class="{ 'has-success': !dependentForm.job_name.$invalid &&  dependentForm.job_name.$touched }"
            >
            <label>job name/position</label>
            <input type="text" 
                 name="job_name" 
                 placeholder="Enter beneficiary job name" 
                 class="form-control form-control-danger form-control-success" 
                 ng-model="dependentFormData.job_name"
            >
          </div>

    </div>
  </div>
</div>