<div class="panel panel-default mt-3">
<div class="panel-heading panel-heading-divider">Dependent Details</div>
  <div class="panel-body">

          <div class="form-group" 
               ng-class="{ 'has-danger': dependentForm.primary_phone_number.$touched && dependentForm.primary_phone_number.$invalid, 'has-success': !dependentForm.primary_phone_number.$invalid }"
           >
            <label>primary phone number</label>
            <input type="number" 
                 name="primary_phone_number" 
                 placeholder="Enter beneficiary primary_phone_number" 
                 class="form-control form-control-danger form-control-success" 
                 ng-model="dependentFormData.primary_phone_number"
                 required
            >
          </div>

          <div class="form-group" 
          	   ng-class="{ 'has-danger': dependentForm.picture.$touched && dependentForm.picture.$invalid, 'has-success': !dependentForm.picture.$invalid }"
            >
            <label>primary profile picture</label>
            <input type="file"
                   class="form-control"
                   id="avatar"
                   on-file-change="onPictureSelected"
            >
          </div>

          <div class="form-group" 
               ng-class="{ 'has-danger': dependentForm.date_of_birth.$touched && dependentForm.date_of_birth.$invalid, 'has-success': !dependentForm.date_of_birth.$invalid && dependentForm.date_of_birth.$touched }"
            >
            <label>Date Of Birth</label>
            <input type="date" 
                 name="date_of_birth" 
                 class="form-control form-control-danger form-control-success" 
                 ng-model="dependentFormData.date_of_birth"
                 required
            >
          </div>


    </div>
  </div>
</div>