<div class="row">
	<div class="col-md-12">
	    <div class="panel panel-white">

	          <table class="table table-bordered">
	              <thead>
	                  <tr>
	                      <th class="text-center"><a>Plan Name</a></th>
	                      <th class="text-center"><a>Service Name</a></th>
	                      <th class="text-center"><a>Update Price</a></th>
	                      <th class="text-center"><a>Action</a></th>
	                  </tr>
	              </thead>
	              <tbody>

	                  <tr ng-repeat="(key, planService) in planServices">
	                      <td class="text-center"><span class="text-info">{{plan.name}}</span></th>
	                      <td class="text-center"><span>{{planService.service.name}}</span></td>
	                      <td class="text-center">
	                        <span class="text-success" editable-number="service.amount" ng-click="setService(planService)" onbeforesave="addAmount(key, $data)" e-required>{{planService.price}}</span>
	                      </td>
	                      <td class="text-center">
	                        <button class="btn btn-danger" ng-click="trashService(key, planService)"><i class="fa fa-trash-o"></i></button>
	                      </td>
	                  </tr>

	                  <tr ng-if="!planServices.length && !showLoading">
	                      <td class="text-center" colspan="4">
	                      	<div class="text-danger">You have not added any service to this plan yet</div>
	                      	<button class="btn btn-success" ng-click="redirectToAddServicePageFor(plan)">Add now</button>
	                      </th>
	                  </tr>
	              
	              </tbody>
	          </table>

	    </div>
	</div>
</div>

<my-loading-spinner></my-loading-spinner>
