<div class="row">
	<div class="col-md-12">
	    <div class="panel panel-white">
			<table class="table table-bordered">
			      <thead>
			          <tr>
			              <th class="text-center"><a>Plan Name</a></th>
			              <th class="text-center"><a>Service Name</a></th>
			              <th class="text-center"><a>Add Price</a></th>
			          </tr>
			      </thead>
			      <tbody>

			          <tr ng-repeat="(key, service) in services">
			              <td class="text-center"><span class="text-info">{{plan.name}}</span></th>
			              <td class="text-center"><span>{{service.name}}</span></td>
			              <td class="text-center"><span class="text-success" editable-number="service.amount" ng-click="setService(service)" onbeforesave="addAmount(key, $data)" e-required>click to add price</span></td>
			          </tr>

		                <tr ng-if="!services.length && !showLoading">
		                	<td colspan="3" class="text-center">There,s no service yet </td>
		                </tr>
			      
			      </tbody>
	        </table>
	    </div>
	</div>
</div>

<my-loading-spinner></my-loading-spinner>
