<div class="row">
	<div class="col-md-12">
	    <div class="panel panel-white">
				<table class="table table-bordered">
	            <thead>
	                <tr>
	                    <th class="text-center"><a>Name</a></th>
	                    <th class="text-center"><a>Add Service(s)</a></th>
	                    <th class="text-center"><a>View Service(s)</a></th>
	                    <th class="text-center"><a>Current Status</a></th>
	                    <th class="text-center"><a>Action</a></th>
	                </tr>
	            </thead>
	            <tbody>

	                <tr ng-repeat="(key, plan) in plans">
	                    <td class="text-center">{{plan.name}} / {{plan.code}}</th>
	                    <td class="text-center"><button class="btn btn-info" ng-click="redirectToAddServicePageFor(plan)"><i class="fa fa-plus"></i></button></th>
	                    <td class="text-center"><button class="btn btn-success" ng-click="redirectToViewServicePageFor(plan)"><i class="fa fa-eye" aria-hidden="true"></i></button></th>
	                    <td class="text-center">
	                        <div ng-if="isActive(plan.is_active)">
	                            <span class="text-success">ACTIVE</span>
	                        </div>
	                        <div ng-if="!isActive(plan.is_active)">
	                            <span class="text-danger">INACTIVE</span> 
	                        </div>
	                    </td>
	                    <td class="text-center">
	                    	<button class="btn btn-info" ng-click="redirectToEdit(plan)"><i class="fa fa-pencil"></i></button>
	                    	<button class="btn btn-danger loading" ng-click="deletePlan(plan, key)">
	                    		<i class="fa fa-trash-o"></i>
	                    		<!-- <i class="fa fa-spinner fa-spin" ng-if="showLoading"></i> -->
	                    	</button>
	                    </td>
	                </tr>

	                <tr ng-if="!plans.length && !showLoading">
	                	<td colspan="5" class="text-center">You have no plan yet </td>
	                </tr>

	            </tbody>
	        </table>
	    </div>
	</div>
</div>

<my-loading-spinner></my-loading-spinner>
