<div class="row">
	<div class="col-md-12">

	        <div class="panel panel-default">
	          <div class="panel-heading panel-heading-divider">Add new plan</div>
	          <div class="panel-body">

	            <form name="planForm" ng-submit="submitPlanForm()">

	              <div class="form-group mt-1" 
	              	   ng-class="{ 'has-danger': planForm.name.$touched && planForm.name.$invalid, 'has-success': planForm.name.$touched && !planForm.name.$invalid }"
	              >
	                <label for="name">plan name</label>
	                <input name="name" 
	                	   type="text" 
	                	   placeholder="Enter plan name" 
	                	   class="form-control form-control-danger form-control-success" 
	         			   ng-model="planFormData.name"
	                	   required
	                >
	              </div>
	              <div class="form-group" 
	              	   ng-class="{ 'has-danger': planForm.code.$touched && planForm.code.$invalid, 'has-success': planForm.code.$touched && !planForm.code.$invalid }"
	              >
	                <label>Code</label>
	                <input type="text" 
	                	   name="code" 
	                	   placeholder="Enter plan code" 
	                	   class="form-control form-control-danger form-control-success" 
	         			   ng-model="planFormData.code"
	                	   required
	                >
	              </div>

	              <div class="form-group" 
	              	   ng-class="{ 'has-danger': planForm.is_active.$touched && planForm.is_active.$invalid, 'has-success': planForm.is_active.$touched && !planForm.is_active.$invalid }"
	              >
	                <label>is_active</label>
	                <select name="is_active" class="form-control form-control-danger form-control-success" ng-model="planFormData.is_active" required>
						<option value="" disabled selected>- Please Choose Status -</option>
						<option value="1">Active</option>
						<option value="0">Inactive</option>               	
	                </select>
	              </div>

	              <div class="row pt-5">
	                <div class="col-6 offset-md-6">
	                  <p class="text-right">
	                    <button type="submit" class="btn btn-space btn-primary loading" ng-disabled="planForm.$invalid">Submit</button>
	                  </p>
	                </div>
	              </div>
	            </form>


	          </div>



	</div>
</div>


