<div class="row pricing-tables">

	<div class="col-md-6 col-xs-12 col-sm-12" ng-repeat="(key, permission_role) in permission_roles" ng-if="permission_role.permission.show_on_navbar">
	  <div class="pricing-table">
	    <div class="pricing-table-title">Access</div>
	    <div class="pricing-table-price">
	      <span class="value">{{ permission_role.permission.name }}</span>
	    </div>
	    <div class="panel-divider panel-divider-xl"></div>
	    <ul class="pricing-table-features">
	    </ul>
	    <a ui-sref="{{permission_role.permission.url}}" class="btn btn-primary">Open</a>
	  </div>
	</div>

</div>