<div class="main-content container">
	<div class="row">

        <div class="col-md-12">
          <div class="user-stats">
            <div class="user-stats-id">
              <div class="user-stats-avatar"><img src="{{user.primary_profile_picture}}" alt="avatar"><span class="user-stats-status-indicator online"></span></div>
              <div class="user-stats-info"><span class="user-stats-name">{{ user.first_name }} {{ user.middlename_name }}</span><span class="user-stats-position">{{ user.last_name }}</span></div>
            </div>
            <div class="user-stats-indicators">
              <div class="user-stats-indicator">
                  <span class="user-stats-indicator-title">FirstName:</span><span data-toggle="counter" data-end="173" class="user-stats-indicator-counter">{{user.first_name}}</span>
              </div>
              <div class="user-stats-indicator">
                  <span class="user-stats-indicator-title">MiddleName	</span><span data-toggle="counter" data-end="367" class="user-stats-indicator-counter">{{user.middle_name}}</span>
              </div>
              <div class="user-stats-indicator">
                  <span class="user-stats-indicator-title">LastName</span><span data-toggle="counter" data-end="724" class="user-stats-indicator-counter">{{user.last_name}}</span>
              </div>
              <div class="user-stats-indicator">
                  <span class="user-stats-indicator-title">Date of birth</span><span data-toggle="counter" data-end="1264" class="user-stats-indicator-counter">{{user.date_of_birth}}</span>
              </div>
              <div class="user-stats-indicator">
                  <span class="user-stats-indicator-title">Primary Phone Number</span><span data-toggle="counter" data-end="1264" class="user-stats-indicator-counter">{{user.primary_phone_number}}</span>
              </div>
              <div class="user-stats-indicator">
                  <span class="user-stats-indicator-title">Gender</span><span data-toggle="counter" data-end="1264" class="user-stats-indicator-counter">{{user.gender}}</span>
              </div>
              <div class="user-stats-indicator">
                  <span class="user-stats-indicator-title">Email</span><span data-toggle="counter" data-end="1264" class="user-stats-indicator-counter">{{user.email}}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="panel panel-default panel-table">

            <div class="panel-body">
              <div class="table-responsive noSwipe">
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th style="width:20%;">Logo</th>
                      <th style="width:17%;">Organization</th>
                      <th style="width:15%;">Name</th>
                      <th style="width:10%;">Role</th>
                      <th style="width:10%;">Access</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr ng-repeat="(key, role_user) in role_users">
                      <td class="user-avatar cell-detail user-info"><img src="{{role_user.organization_profile.logo}}" alt="Avatar"></td>
                      <td class="cell-detail"> <span>{{ role_user.organization_profile.organization.name }}</span></td>                      
                      <td class="cell-detail"> <span>{{ role_user.organization_profile.name }}</span></td>
                      <td class="cell-detail"> <span>{{ role_user.role.name }}</span></td>
                      <td class=""><button type="button" class="btn btn-primary btn-xs" ng-disabled="inactive(role_user)" ng-click="accessRoleWith(role_user.role_id, role_user.organization_profile.id)"> Access </button></td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>


	</div>
</div>