<div class="row">
	<div class="col-md-12">
	    <div class="panel panel-white">
				<table class="table table-bordered">
	            <thead>
	                <tr>
	                    <th class="text-center"><a>Picture</a></th>
	                    <th class="text-center"><a>Name</a></th>
	                    <th class="text-center"><a>Email</a></th>
	                    <th class="text-center"><a>Phone number</a></th>
	                    <th class="text-center"><a>Gender</a></th>
	                    <th class="text-center"><a>Date Of Birth</a></th>
	                    <th class="text-center"><a>Status</a></th>
	                    <th class="text-center"><a>Action</a></th>
	                </tr>
	            </thead>
	            <tbody>

	                <tr ng-repeat="(key, organizationProfileModerator) in organizationProfileModerators">
	                    <td class="text-center"><img src="{{organizationProfileModerator.moderator.primary_profile_picture}}" width="70px" height="70px" style="border-radius: 50px;"></th>
	                    <td class="text-center">{{ organizationProfileModerator.moderator.first_name }} {{ organizationProfileModerator.moderator.middle_name }} {{ organizationProfileModerator.moderator.last_name }}</th>
	                    <td class="text-center">{{organizationProfileModerator.moderator.email}}</th>
	                    <td class="text-center">{{organizationProfileModerator.moderator.primary_phone_number}}</th>
	                    <td class="text-center">{{organizationProfileModerator.moderator.gender}}</th>
	                    <td class="text-center">{{organizationProfileModerator.moderator.date_of_birth}}</th>
	                    <td class="text-center">

	                        <div ng-if="isActive(organizationProfileModerator.is_active)">
	                            <span class="text-success" 
	                            	  editable-select="organizationProfileModerator.is_active" 
	                            	  e-ng-options="status.value as status.text for status in statuses" 
	                            	  ng-click="statusClick(organizationProfileModerator)"  
	                            	  onbeforesave="updateStatus(key, $data)"
	                            	  e-required>ACTIVE
	                            </span>
	                        </div>
	                        <div ng-if="!isActive(organizationProfileModerator.is_active)">
	                            <span class="text-danger" 
	                            	  editable-select="organizationProfileModerator.is_active" 
	                            	  e-ng-options="status.value as status.text for status in statuses" 
	                            	  ng-click="statusClick(organizationProfileModerator)" 
	                            	  onbeforesave="updateStatus(key, $data)"
	                            	  e-required>INACTIVE
	                            </span> 
	                        </div>

	                    </td>
	                    <td class="text-center"><button class="btn btn-warning"><i class="fa fa-ban"></i></button></th>
	                </tr>

	                <tr ng-if="!organizationProfileModerators.length && !showLoading">
	                	<td colspan="10" class="text-center">You have no moderator yet </td>
	                </tr>

	            </tbody>
	        </table>
	    </div>
	</div>
</div>

<my-loading-spinner></my-loading-spinner>
