<div class="row">
	<div class="col-md-12">
		<div id="wizard-step-container">

			<ul class="nav nav-pills nav-justified">
				<li ng-repeat="step in steps" 
					ng-class="{'active':step.step == currentStep}"
					class="nav-item btn-success" 
				>
					<a class="nav-link" ng-click="gotoStep(step.step)">
						{{step.step}}. {{step.name}}
					</a>
				</li>
			</ul>

		</div>
		
		<my-loading-spinner></my-loading-spinner>

        <form name="moderatorForm" ng-if="!showLoading">
        
			<div id="wizard-content-container">
				<ng-include src="getStepTemplate()"></ng-include>
			</div>


			<div id="wizard-navigation-container">
				<div class="pull-right">
					<span class="btn-group">
						<button ng-disabled="currentStep <= 1" class="btn btn-default" name="previous" type="button" ng-click="gotoStep(currentStep - 1)"><i class="fa fa-arrow-left"></i> Previous step</button>
						<button ng-disabled="currentStep >= steps.length" class="btn btn-primary" name="next" type="button" ng-click="gotoStep(currentStep + 1)">Next step <i class="fa fa-arrow-right"></i></button>
					</span>
					<button ng-disabled="moderatorForm.$invalid" 
							class="btn btn-success" 
							name="next" 
							type="button" 
							ng-click="save()"
					> 
						<i class="fa fa-floppy-o"></i> Save
					</button>
				</div>
			</div>

        </form>
	
	</div>
</div>
