<div class="panel panel-default mt-3">
  <div class="panel-heading panel-heading-divider">Moderator Details</div>
    <div class="panel-body">

          <div class="form-group mt-1" 
               ng-class="{ 'has-danger': moderatorForm.email.$touched && moderatorForm.email.$invalid }"
            >
            <label for="name">email</label>
            <input name="email" 
                 type="text"
                 placeholder="Enter beneficiary email" 
                 class="form-control form-control-danger form-control-success" 
                 ng-model="moderatorFormData.email"
                 uib-typeahead="user as user.email for user in users | filter:$viewValue | limitTo:5" 
                 typeahead-on-select="onUserSelected($item, $model, $label)"
            >
          </div>

          <div class="form-group" 
               ng-class="{ 'has-danger': moderatorForm.first_name.$touched && moderatorForm.first_name.$invalid, 'has-success': !moderatorForm.first_name.$invalid }"
           >
            <label>first name</label>
            <input type="text" 
                 name="first_name" 
                 placeholder="Enter beneficiary first_name" 
                 class="form-control form-control-danger form-control-success" 
                 ng-model="moderatorFormData.first_name"
                 required
            >
          </div>

          <div class="form-group mt-1" 
               ng-class="{ 'has-danger': moderatorForm.middle_name.$touched && moderatorForm.middle_name.$invalid, 'has-success': !moderatorForm.middle_name.$invalid }"
            >
            <label for="name">middle name</label>
            <input name="middle_name" 
                 type="text" 
                 placeholder="Enter organization bank name" 
                 class="form-control form-control-danger form-control-success" 
                 ng-model="moderatorFormData.middle_name"
                 required
            >
          </div>

          <div class="form-group mt-1" 
               ng-class="{ 'has-danger': moderatorForm.last_name.$touched && moderatorForm.last_name.$invalid, 'has-success': !moderatorForm.last_name.$invalid }"
            >
            <label for="name">last name</label>
            <input name="last_name" 
                 type="text" 
                 placeholder="Enter beneficiary last name" 
                 class="form-control form-control-danger form-control-success" 
                 ng-model="moderatorFormData.last_name"
                 required
            >
          </div>

          <div class="form-group" 
               ng-class="{ 'has-danger': moderatorForm.gender.$touched && moderatorForm.gender.$invalid, 'has-success': !moderatorForm.gender.$invalid }"
            >
            <label>Gender</label>
            <select name="gender" class="form-control form-control-danger form-control-success" ng-model="moderatorFormData.gender" required>
                <option value="MALE">MALE</option>
                <option value="FEMALE">FEMALE</option>
            </select>
          </div>

    </div>
  </div>
</div>