<div class="panel panel-default mt-3">
  <div class="panel-heading panel-heading-divider">Moderator Details</div>
    <div class="panel-body">

          <div class="form-group" 
               ng-class="{ 'has-danger': moderatorForm.gender.$touched && moderatorForm.gender.$invalid, 'has-success': !moderatorForm.gender.$invalid && moderatorForm.gender.$touched }"
            >
            <label>State</label>
            <select name="state_id" class="form-control form-control-danger form-control-success" ng-model="moderatorFormData.state_id" required>
                <option value="{{ state.id }}" ng-repeat="state in states">{{ state.name }}</option>
            </select>
          </div>

          <div class="form-group" 
               ng-class="{ 'has-success': !moderatorForm.address.$invalid && moderatorForm.job_name.$touched }"
            >
            <label>Address</label>
            <input type="text" 
                 name="address" 
                 placeholder="Enter beneficiary address" 
                 class="form-control form-control-danger form-control-success" 
                 ng-model="moderatorFormData.address"
            >
          </div>

          <div class="form-group" 
               ng-class="{ 'has-success': !moderatorForm.job_name.$invalid &&  moderatorForm.job_name.$touched }"
            >
            <label>job name/position</label>
            <input type="text" 
                 name="job_name" 
                 placeholder="Enter beneficiary job name" 
                 class="form-control form-control-danger form-control-success" 
                 ng-model="moderatorFormData.job_name"
            >
          </div>

    </div>
  </div>
</div>