<div class="row">
	<div class="col-md-12">
	    <div class="panel panel-white">
				<table class="table table-bordered">
	            <thead>
	                <tr>
	                    <th class="text-center"><a>Picture</a></th>
	                    <th class="text-center"><a>Name</a></th>
	                    <th class="text-center"><a>Email</a></th>
	                    <th class="text-center"><a>Phone number</a></th>
	                    <th class="text-center"><a>Gender</a></th>
	                    <th class="text-center"><a>Date Of Birth</a></th>
	                    <th class="text-center"><a>PolicySet</a></th>
	                    <th class="text-center"><a>Policy</a></th>
	                    <th class="text-center"><a>Status</a></th>
	                    <th class="text-center"><a>Action</a></th>
	                </tr>
	            </thead>
	            <tbody>

	                <tr ng-repeat="(key, beneficiaryCompany) in beneficiaryCompanies">
	                    <td class="text-center"><img src="{{beneficiaryCompany.beneficiary.primary_profile_picture}}" width="70px" height="70px" style="border-radius: 50px;"></td>
	                    <td class="text-center">{{ beneficiaryCompany.beneficiary.first_name }} {{ beneficiaryCompany.beneficiary.middle_name }} {{ beneficiaryCompany.beneficiary.last_name }}</td>
	                    <td class="text-center">{{beneficiaryCompany.beneficiary.email}}</td>
	                    <td class="text-center">{{beneficiaryCompany.beneficiary.primary_phone_number}}</td>
	                    <td class="text-center">{{beneficiaryCompany.beneficiary.gender}}</td>
	                    <td class="text-center">{{beneficiaryCompany.beneficiary.date_of_birth}}</td>
	                    <td class="text-center">{{beneficiaryCompany.policy.policyset.name}}</td>
	                    <td class="text-center">{{beneficiaryCompany.policy.name}}</td>
	                    <td class="text-center">
	                        <div ng-if="isActive(beneficiaryCompany.is_active)">
	                            <span class="text-success">ACTIVE</span>
	                        </div>
	                        <div ng-if="!isActive(beneficiaryCompany.is_active)">
	                            <span class="text-danger">INACTIVE</span> 
	                        </div>
	                    </td>
	                    <td class="text-center"><button class="btn btn-warning"><i class="fa fa-ban"></i></button></td>
	                </tr>

	                <tr ng-if="!beneficiaryCompanies.length && !showLoading">
	                	<td colspan="10" class="text-center">You have no beneficiary yet </td>
	                </tr>

	            </tbody>
	        </table>
	    </div>
	</div>
</div>

<my-loading-spinner></my-loading-spinner>
