<div class="panel panel-default mt-3">
  <div class="panel-heading panel-heading-divider">Beneficiary Details</div>
    <div class="panel-body">

          <div class="form-group" 
               ng-class="{ 'has-danger': beneficiaryForm.gender.$touched && beneficiaryForm.gender.$invalid, 'has-success': !beneficiaryForm.gender.$invalid && beneficiaryForm.gender.$touched }"
            >
            <label>State</label>
            <select name="state_id" class="form-control form-control-danger form-control-success" ng-model="beneficiaryFormData.state_id" required>
                <option value="{{ state.id }}" ng-repeat="state in states">{{ state.name }}</option>
            </select>
          </div>

          <div class="form-group" 
               ng-class="{ 'has-success': !beneficiaryForm.address.$invalid && beneficiaryForm.job_name.$touched }"
            >
            <label>Address</label>
            <input type="text" 
                 name="address" 
                 placeholder="Enter beneficiary address" 
                 class="form-control form-control-danger form-control-success" 
                 ng-model="beneficiaryFormData.address"
            >
          </div>

          <div class="form-group" 
               ng-class="{ 'has-success': !beneficiaryForm.job_name.$invalid &&  beneficiaryForm.job_name.$touched }"
            >
            <label>job name/position</label>
            <input type="text" 
                 name="job_name" 
                 placeholder="Enter beneficiary job name" 
                 class="form-control form-control-danger form-control-success" 
                 ng-model="beneficiaryFormData.job_name"
            >
          </div>

    </div>
  </div>
</div>