<div class="panel panel-default mt-3">
<div class="panel-heading panel-heading-divider">Beneficiary Details</div>
  <div class="panel-body">

          <div class="form-group" 
               ng-class="{ 'has-danger': beneficiaryForm.primary_phone_number.$touched && beneficiaryForm.primary_phone_number.$invalid, 'has-success': !beneficiaryForm.primary_phone_number.$invalid }"
           >
            <label>primary phone number</label>
            <input type="number" 
                 name="primary_phone_number" 
                 placeholder="Enter beneficiary primary_phone_number" 
                 class="form-control form-control-danger form-control-success" 
                 ng-model="beneficiaryFormData.primary_phone_number"
                 required
            >
          </div>

          <div class="form-group" 
          	   ng-class="{ 'has-danger': beneficiaryForm.picture.$touched && beneficiaryForm.picture.$invalid, 'has-success': !beneficiaryForm.picture.$invalid }"
            >
            <label>primary profile picture</label>
            <input type="file"
                   class="form-control"
                   id="avatar"
                   on-file-change="onPictureSelected"
            >
          </div>

          <div class="form-group" 
               ng-class="{ 'has-danger': beneficiaryForm.date_of_birth.$touched && beneficiaryForm.date_of_birth.$invalid, 'has-success': !beneficiaryForm.date_of_birth.$invalid && beneficiaryForm.date_of_birth.$touched }"
            >
            <label>Date Of Birth</label>
            <input type="date" 
                 name="date_of_birth" 
                 class="form-control form-control-danger form-control-success" 
                 ng-model="beneficiaryFormData.date_of_birth"
                 required
            >
          </div>


    </div>
  </div>
</div>