<div class="panel panel-default mt-3">
  <div class="panel-heading panel-heading-divider">Beneficiary Details</div>
    <div class="panel-body">

          <div class="form-group" 
               ng-class="{ 'has-danger': beneficiaryForm.policy_id.$touched && beneficiaryForm.policy_id.$invalid, 'has-success': !beneficiaryForm.policy_id.$invalid && beneficiaryForm.policy_id.$touched }"
            >
            <label>Policy</label>
            <select name="policy_id" class="form-control form-control-danger form-control-success" ng-model="beneficiaryFormData.policy_id" required>
                <optgroup label="{{ policyset.name }}" ng-repeat="policyset in policysets">
                  <option value="{{ policy.id }}" ng-repeat="policy in policyset.policies">{{ policy.name }}</option>
                </optgroup>
            </select>
          </div>

          <div class="form-group mt-1" 
               ng-class="{ 'has-danger': beneficiaryForm.email.$touched && beneficiaryForm.email.$invalid }"
            >
            <label for="name">email</label>
            <input name="email" 
                 type="text"
                 placeholder="Enter beneficiary email" 
                 class="form-control form-control-danger form-control-success" 
                 ng-model="beneficiaryFormData.email"
                 uib-typeahead="user as user.email for user in users | filter:$viewValue | limitTo:5" 
                 typeahead-on-select="onUserSelected($item, $model, $label)"
            >
          </div>

          <div class="form-group" 
               ng-class="{ 'has-danger': beneficiaryForm.first_name.$touched && beneficiaryForm.first_name.$invalid, 'has-success': !beneficiaryForm.first_name.$invalid }"
           >
            <label>first name</label>
            <input type="text" 
                 name="first_name" 
                 placeholder="Enter beneficiary first_name" 
                 class="form-control form-control-danger form-control-success" 
                 ng-model="beneficiaryFormData.first_name"
                 required
            >
          </div>

          <div class="form-group mt-1" 
               ng-class="{ 'has-danger': beneficiaryForm.middle_name.$touched && beneficiaryForm.middle_name.$invalid, 'has-success': !beneficiaryForm.middle_name.$invalid }"
            >
            <label for="name">middle name</label>
            <input name="middle_name" 
                 type="text" 
                 placeholder="Enter organization bank name" 
                 class="form-control form-control-danger form-control-success" 
                 ng-model="beneficiaryFormData.middle_name"
                 required
            >
          </div>

          <div class="form-group mt-1" 
               ng-class="{ 'has-danger': beneficiaryForm.last_name.$touched && beneficiaryForm.last_name.$invalid, 'has-success': !beneficiaryForm.last_name.$invalid }"
            >
            <label for="name">last name</label>
            <input name="last_name" 
                 type="text" 
                 placeholder="Enter beneficiary last name" 
                 class="form-control form-control-danger form-control-success" 
                 ng-model="beneficiaryFormData.last_name"
                 required
            >
          </div>

          <div class="form-group" 
               ng-class="{ 'has-danger': beneficiaryForm.gender.$touched && beneficiaryForm.gender.$invalid, 'has-success': !beneficiaryForm.gender.$invalid }"
            >
            <label>Gender</label>
            <select name="gender" class="form-control form-control-danger form-control-success" ng-model="beneficiaryFormData.gender" required>
                <option value="MALE">MALE</option>
                <option value="FEMALE">FEMALE</option>
            </select>
          </div>

    </div>
  </div>
</div>