<div class="row">
	<div class="col-md-3 offset-md-9" style="margin-bottom: 15px !important;">
		<button class="btn btn-block btn-success" ng-click="allPolicySet()"><i class="fa fa-reply" aria-hidden="true"></i> all policy set</button>
	</div>
</div>

<div class="row">
	<div class="col-md-12">

	        <div class="panel panel-default">
	          <div class="panel-heading panel-heading-divider">Add new policyset</div>
	          <div class="panel-body">

	            <form name="policysetForm" ng-submit="submitPolicysetForm()">

	              <div class="form-group mt-1" 
	              	   ng-class="{ 'has-danger': policysetForm.name.$touched && policysetForm.name.$invalid, 'has-success': policysetForm.name.$touched && !policysetForm.name.$invalid }"
	              >
	                <label for="name">policyset name</label>
	                <input name="name" 
	                	   type="text" 
	                	   placeholder="Enter policyset name" 
	                	   class="form-control form-control-danger form-control-success" 
	         			   ng-model="policysetFormData.name"
	                	   required
	                >
	              </div>

	              <div class="form-group" 
	              	   ng-class="{ 'has-danger': policysetForm.start_date.$touched && policysetForm.start_date.$invalid, 'has-success': policysetForm.start_date.$touched && !policysetForm.start_date.$invalid }"
	              >
	                <label>Start Date</label>
	                <input type="date" 
	                	   name="start_date" 
	                	   class="form-control form-control-danger form-control-success" 
	         			   ng-model="policysetFormData.start_date"
	                	   required
	                >

	              </div>

	              <div class="form-group"
	              	   ng-class="{ 'has-danger': policysetForm.end_date.$touched && policysetForm.end_date.$invalid, 'has-success': policysetForm.end_date.$touched && !policysetForm.end_date.$invalid }"
	              >
	                <label>End Date</label>
	                <input type="date" 
	                	   name="end_date" 
	                	   class="form-control form-control-danger form-control-success" 
	         			   ng-model="policysetFormData.end_date"
	                	   required
	                >
	              </div>

	              <div class="form-group" 
	              	   ng-class="{ 'has-danger': policysetForm.is_active.$touched && policysetForm.is_active.$invalid, 'has-success': policysetForm.is_active.$touched && !policysetForm.is_active.$invalid }"
	              >
	                <label>is_active</label>
	                <select name="is_active" class="form-control form-control-danger form-control-success" ng-model="policysetFormData.is_active" required>
						<option value="1">Active</option>
						<option value="0">Inactive</option>               	
	                </select>
	              </div>

	              <div class="row pt-5">
	                <div class="col-6 offset-md-6">
	                  <p class="text-right">
	                    <button type="submit" class="btn btn-space btn-primary loading" ng-disabled="policysetForm.$invalid">Submit</button>
	                  </p>
	                </div>
	              </div>
	            </form>


	          </div>



	</div>
</div>


