<div class="row">
	<div class="col-md-3 offset-md-9" style="margin-bottom: 15px !important;">
		<button class="btn btn-block btn-success" ng-click="addNewPolicySet()"><i class="fa fa-plus"></i> add new policy set</button>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
	    <div class="panel panel-white">
				<table class="table table-bordered">
	            <thead>
	                <tr>
	                    <th class="text-center"><a>Name</a></th>
	                    <th class="text-center"><a>Current Status</a></th>
	                    <th class="text-center"><a>Start Date</a></th>
	                    <th class="text-center"><a>End Date</a></th>
	                    <th class="text-center"><a>View Policy</a></th>
	                    <th class="text-center"><a>Action</a></th>
	                </tr>
	            </thead>
	            <tbody>

	                <tr ng-repeat="(key, policyset) in policysets">
	                    <td class="text-center">{{ policyset.name }}</th>
	                    <td class="text-center">
	                        <div ng-if="isActive(policyset.is_active)">
	                            <span class="text-success">ACTIVE</span>
	                        </div>
	                        <div ng-if="!isActive(policyset.is_active)">
	                            <span class="text-danger">INACTIVE</span> 
	                        </div>
	                    </td>
	                    <td class="text-center">{{ policyset.start_date | moment: 'format': 'dddd DD MMM, YYYY'}}</td>
	                    <td class="text-center">{{ policyset.end_date | moment: 'format': 'dddd DD MMM, YYYY'}}</td>
	                    <td class="text-center"><button class="btn btn-info" ng-click="displayPolicyFor(policyset)"><i class="fa fa-folder-open" aria-hidden="true"></i></button></td>
	                    <td class="text-center">
	                    	<button class="btn btn-info" ng-click="redirectToEdit(policyset)"><i class="fa fa-pencil"></i></button>
	                    	<button class="btn btn-danger loading" ng-click="deletePolicyset(policyset, key)">
	                    		<i class="fa fa-trash-o"></i>
	                    	</button>
	                    </td>
	                </tr>

	                <tr ng-if="!policysets.length && !showLoading">
	                	<td colspan="5" class="text-center">Company does not have policyset </td>
	                </tr>

	            </tbody>
	        </table>
	    </div>
	</div>
</div>

<my-loading-spinner></my-loading-spinner>
