<div class="row">
	<div class="col-md-3 offset-md-9" style="margin-bottom: 15px !important;">
		<button class="btn btn-block btn-success" ng-click="addNewPolicy()"><i class="fa fa-plus"></i> add new policy</button>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
	    <div class="panel panel-white">
				<table class="table table-bordered">
	            <thead>
	                <tr>
	                    <th class="text-center"><a>Name</a></th>
	                    <th class="text-center"><a>Status</a></th>
	                    <th class="text-center"><a>Maximum number of dependent</a></th>
	                    <th class="text-center"><a>Action</a></th>
	                </tr>
	            </thead>
	            <tbody>

	                <tr ng-repeat="(key, policy) in policies">
	                    <td class="text-center">{{policy.name}}</th>
	                    <td class="text-center">
	                        <div ng-if="isActive(policy.is_active)">
	                            <span class="text-success">ACTIVE</span>
	                        </div>
	                        <div ng-if="!isActive(policy.is_active)">
	                            <span class="text-danger">INACTIVE</span> 
	                        </div>
	                    </td>
	                    <td class="text-center">{{ policy.maximum_no_of_beneficiary_dependant }}</td>
	                    <td class="text-center">
	                    	<button class="btn btn-info" ng-click="redirectToEdit(policy)"><i class="fa fa-pencil"></i></button>
	                    	<button class="btn btn-danger loading" ng-click="deletePolicy(policy, key)">
	                    		<i class="fa fa-trash-o"></i>
	                    	</button>
	                    </td>
	                </tr>

	                <tr ng-if="!policies.length && !showLoading">
	                	<td colspan="5" class="text-center">No policy under this policy yet</td>
	                </tr>

	            </tbody>
	        </table>
	    </div>
	</div>
</div>

<my-loading-spinner></my-loading-spinner>
