<div class="row">
	<div class="col-md-3 offset-md-9" style="margin-bottom: 15px !important;">
		<button class="btn btn-block btn-success" ng-click="allPolicy()"><i class="fa fa-reply" aria-hidden="true"></i> all policies</button>
	</div>
</div>

<div class="row">
	<div class="col-md-12">

	    <div class="panel panel-default" ng-if="!showLoading">
	      <div class="panel-heading panel-heading-divider">Add new policy</div>
	      <div class="panel-body">
	        <form name="policyForm" ng-submit="submitPolicyForm()">

	          <div class="form-group mt-1" 
	          	   ng-class="{ 'has-danger': policyForm.name.$touched && policyForm.name.$invalid, 'has-success': policyForm.name.$touched && !policyForm.name.$invalid }"
	          	>
	            <label for="name">policy name</label>
	            <input name="name" 
	            	   type="text" 
	            	   placeholder="Enter policy name" 
	            	   class="form-control form-control-danger form-control-success" 
	     			   ng-model="policyFormData.name"
	            	   required
	            >
	          </div>

	          <div class="form-group" 
	          	   ng-class="{ 'has-danger': policyForm.maximum_no_of_beneficiary_dependant.$touched && policyForm.maximum_no_of_beneficiary_dependant.$invalid, 'has-success': policyForm.maximum_no_of_beneficiary_dependant.$touched && !policyForm.maximum_no_of_beneficiary_dependant.$invalid }"
	          	>
	            <label>Maximum No Of Beneficiary Dependant</label>
	            <input type="number" 
	            	   name="maximum_no_of_beneficiary_dependant" 
	            	   class="form-control form-control-danger form-control-success" 
	     			   ng-model="policyFormData.maximum_no_of_beneficiary_dependant"
	            	   required
	            >
	          </div>

	          <div class="form-group" 
	          	   ng-class="{ 'has-danger': policyForm.plan_id.$touched && policyForm.plan_id.$invalid, 'has-success': policyForm.plan_id.$touched && !policyForm.plan_id.$invalid }"
	          	>
	            <label>Chose Plan</label>
	            <select name="plan_id" class="form-control form-control-danger form-control-success" ng-model="policyFormData.plan_id" required>
					<option value="{{plan.id}}" ng-repeat="plan in plans">{{plan.name}}</option>
	            </select>
	          </div>

	          <div class="form-group" 
	          	   ng-class="{ 'has-danger': policyForm.is_active.$touched && policyForm.is_active.$invalid, 'has-success': policyForm.is_active.$touched && !policyForm.is_active.$invalid }"
	          	>
	            <label>Active Status</label>
	            <select name="is_active" class="form-control form-control-danger form-control-success" ng-model="policyFormData.is_active" required>
					<option value="1">Active</option>
					<option value="0">Inactive</option>               	
	            </select>
	          </div>

	          <div class="row pt-5">
	            <div class="col-6 offset-md-6">
	              <p class="text-right">
	                <button type="submit" class="btn btn-space btn-primary loading" ng-disabled="policyForm.$invalid">Submit</button>
	              </p>
	            </div>
	          </div>

	        </form>
	      </div>
	    </div>

		<my-loading-spinner></my-loading-spinner>

	</div>
</div>


